body {
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    width: 100vw;
    height: 100vw;
}

.header {
    background-color: #41525B;
    display: flex;
    grid-column: 1/4;
    grid-row: 1;
    padding-top: 7px;
}

.sidebar {
    background-color: #F6F9FC;
    grid-column: 1;
    min-width: 100px;
}

.description {
    background-color: #FFFFFF;
    box-shadow: -5px 0px 10px #BBBDBF;
    grid-column: 2/4;
    padding-left: 5%;
    padding-right: 5%;
}

.filters-tabs {
    display: none;
    padding-top: 30px;
    padding-bottom: 45px;
}

.btn.tabs {
    border: 1px solid #708B9D;
    border-radius: 10px;
    padding: 10px 20px 10px 20px;
    background-color: #F6F9FC;
}

.list {
    background-color: #F6F9FC;
}

.box {
    height: 70px;
    border-bottom: 1px solid #708D9B;
}

.sidebar-tabs {
    background-color: #49616D;
    min-height: 70px;
}

.no-bullet-points {
    list-style-type: none;
}

.light-border-left {
    border-left: 1px solid #708B9D;
}

.no-margin {
    margin: 0;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-left-small-screen {
    margin-left: 25px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-top-small-screen {
    margin-top: 10px;
}

.padding-l-20 {
    padding-left: 20px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-r-5 {
    margin-right: 5px;
}
.padding-r-20 {
    padding-right: 20px;
}

.no-padding {
    padding: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-t-10 {
    padding-top: 10px;
}

.subtitle {
    font-weight: 700;
    color: #49616D;
}

.text{
    color: #232B30;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.font-small-screen {
    font-size: 12px;
}

.text-light {
    color: #D2E3ED;
}

.text-medium-light {
    color: #708D9B;
}

.title {
    font-weight: 700;
}

.title-font-size-small-screen {
    font-size: 12px;
}

.inline-tabs {
    display: inline;
}

.horizontal-flex-alignment-small-screen {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.hidden-element-small-screen {
    display: none;
}

.hidden-element-md-screen{
    display: none;
}

.fa-star{
    color: #00D8D4;
}

.header-logo {
    width: 35px;
    height: 35px;
    background-color: #41525B;
}

.element-float-left {
    float: left;
}

.active {
    border-bottom: 3px solid #00D8D4;
}

.hidden-overflow {
    overflow: hidden;
}

@media only screen and (min-width: 992px) {
    .description {
        padding-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
    .header {
        padding-left: 3%;
    }

    .tabs {
        display: inline;
    }

    .sidebar-tabs ul {
        padding-top: 45px;
    }

    .filters-tabs {
        display: flex;
    }

    .big-screen-alignment {
        padding-right: 7%;
        padding-left: 10%;
    }

    .horizontal-flex-alignment {
        display: flex;
        justify-content: space-between;
    }

    .space-around {
        display: flex;
        justify-content: space-around;
    }

    .horizontal-flex-alignment-small-screen {
        max-width: 40%;
    }

    .list {
        background-color: #FFFFFF;
        margin-left: 7%;
    }

    .box {
        height: 126px;
    }

    .image {
        height: 80px;
        width: 80px;
    }

    .hidden-element-small-screen {
        display: inline;
    }

    .name {
        padding-right: 10px;
    }

    . {
        border: 0px;
    }

    .margin-left-small-screen{
        margin-left: 0px;
    }

    .margin-top-35 {
        margin-top: 35px;
    }

    .margin-top-56 {
        margin-top: 56px;
    }

    .margin-top-small-screen {
        margin-top: 23px;
    }

    .font-small-screen {
        font-size: 14px;
    }

    .title-font-size-small-screen {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1196px){
    .hidden-element-md-screen {
        display: inline;
    }
}