body {
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    width: 100vw;
    height: 100vw;
}

.header {
    background-color: #41525B;
    display: flex;
    grid-column: 1/4;
    grid-row: 1;

}

.sidebar {
    background-color: #F6F9FC;
    grid-column: 1;
    min-width: 100px;
}

.description {
    background-color: #FFFFFF;
    border: 1px solid black;
    grid-column: 2/4;
    padding-left: 5%;
    padding-right: 5%;
}

.filters_tabs {
    display: none;
    padding-top: 30px;
    padding-bottom: 45px;
}

.list {
    background-color: #F6F9FC;
}

.box {
    height: 60px;
    border-bottom: 1px solid #708D9B;
}

.sidebar_tabs {
    background-color: #49616D;
    min-height: 70px;
}

.no_bullet_points {
    list-style-type: none;
}

.border_center_element {
    border-right: 1px solid #708B9D;
    border-left: 1px solid #708B9D;
    padding-right: 10px;
    padding-left: 10px;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.padding_5 {
    padding: 5px;
}

.padding_t_13 {
    padding-top: 13px;
}

.text{
    font-size: 12px;
}

.inline_tabs {
    display: inline;
}

.horizontal_flex_alignment_small_screen {
    display: flex;
    justify-content: space-between;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.title {
    font-size: 20px;
}

.hidden_element_small_screen {
    display: none;
}

.hidden_elements{
    display: none;
}

.fa-star{
    color: #00D8D4;
    padding-top: 31px;
}

.header_logo {
    width: 35px;
    height: 35px;
    background-color: #41525B;
}
@media only screen and (min-width: 992px) {
    .tabs {
        display: inline;
    }

    .sidebar_tabs ul {
        padding-top: 45px;
    }

    .filters_tabs {
        display: flex;
    }

    .big_screen_alignment {
        padding-right: 7%;
        padding-left: 10%;
    }

    .horizontal_flex_alignment {
        display: flex;
        justify-content: space-between;
    }

    .horizontal_flex_alignment_small_screen {
        max-width: 40%;
    }

    .list {
        background-color: #FFFFFF;
        margin-left: 7%;
    }

    .box {
        height: 126px;
        padding-top: 25px
    }

    .image {
        height: 80px;
        width: 80px;
    }

    .hidden_element_small_screen {
        display: inline;
    }

    .name {
        padding-right: 10px;
    }
}

@media only screen and (min-width: 1196px){
    .hidden_elements {
        display: inline;
    }
}