body {
    margin: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
    width: 100vw;
    height: 100vw;
}

.header {
    background-color: #41525B;
    grid-column: 1/4;
    grid-row: 1;

}

.sidebar {
    background-color: #F6F9FC;
    grid-column: 1;
    min-width: 100px;
}

.description {
    background-color: #FFFFFF;
    border: 1px solid black;
    grid-column: 2/4;
    padding-left: 5%;
    padding-right: 5%;
}

.filters_tabs {
    display: none;
    padding-top: 30px;
    padding-bottom: 45px;
}

.list {
    background-color: #F6F9FC;
}

.box {
    height: 125px;
    border: 1px solid black;
}

.sidebar_tabs {
    background-color: #49616D;
    min-height: 70px;
}

.no_bullet_points {
    list-style-type: none;
}

.no_padding {
    padding: 0;
}

.no_margin {
    margin: 0;
}

.padding_5 {
    padding: 5px;
}

.text{
    font-size: 12px;
}

.inline_tabs {
    display: inline;
}

.horizontal_flex_alignment_small_screen {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 992px) {
    .tabs {
        display: inline;
    }

    .sidebar_tabs ul {
        padding-top: 45px;
    }

    .filters_tabs {
        display: flex;
    }

    .big_screen_alignment {
        padding-right: 7%;
        padding-left: 10%;
    }

    .horizontal_flex_alignment {
        display: flex;
        justify-content: space-between;
    }

    .list {
        background-color: #FFFFFF;
        margin-left: 7%;
    }
}